.progressBar-container {
    position: relative;
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
    opacity: 1;
    transition: opacity 1s;
    pointer-events: none;
}

.progressBar-container--abs {
    position: absolute;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    opacity: 1;
    transition: opacity 1s;
    z-index: 1191;
    touch-action: none;
    top: 0;
    left: 0;
    background: #c3c3c360;
    pointer-events: all;
    user-select: none;
}

.progressBar-container--abs-hidden {
    position: absolute;
    justify-content: center;
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    opacity: 0;
    transition:
        opacity 1s,
        visibility 0s 1s;
    visibility: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
}
.progressBar-container-hidden {
    position: relative;
    justify-content: center;
    display: flex;
    /* height: 0; */
    height: 100%;
    align-items: center;
    opacity: 0;
    transition:
        opacity 1s,
        visibility 0s 1s;
    visibility: hidden;
    pointer-events: none;
}
.comp-hidden {
    height: 0;
    opacity: 0;
    transition: height 0.5s 4s;
}

/* PROGRESSBAR */
@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}
.progress-bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.progress-circle {
    transform: rotate(-90deg);
    /* margin-top: -40px; */
}

.progress-circle-back {
    fill: none;
    stroke: #ffffff;
    stroke-width: 8px;
}

.progress-circle-prog {
    --pgPercentage: var(--value);
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 8px;
    stroke-dasharray: calc(var(--pgPercentage) * 3.14) 314;
    stroke-dashoffset: 0px;
}
.progress-circle-prog-transition {
    transition: stroke-dasharray 0s linear 0s;
}
.progress-text {
    position: absolute;
    font-size: 24px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
