.sidebar {
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;

    min-height: 100%;
    background-color: var(--dark-800);
    color: var(--sidebarText);
    height: 100%;
}

.sidebar-element {
    /* min-width: 100%; */
    min-width: 60px;
    width: 60px;
    transition: width 0.2s ease-in-out;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    cursor: pointer;
    gap: 14px;
    flex-shrink: 0;
    align-self: stretch;
    align-items: center;
    border-left: 2px solid transparent;
    border-radius: 6px;
    position: relative;
    padding-left: 14px;
}

.sidebar-element:hover {
    background-color: var(--content);
    color: var(--primary);
    border-radius: 6px;
    width: 100%;
}

.sidebar-element i:before,
.sidebar-element img :before,
.sidebar-element i,
.sidebar-element img {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    fill: var(--sidebarText);
    color: var(--sidebarText);
}
.sidebar-element img * {
    fill: var(--sidebarText);
}
.sidebar-element--selected i:before,
.sidebar-element--selected img :before,
.sidebar-element--selected i,
.sidebar-element--selected img {
    fill: var(--primary);
    color: var(--primary);
}
.sidebar-element--selected img * {
    fill: var(--primary);
    color: var(--primary);
}
.sidebar-element--selected div > * {
    fill: var(--primary);
    color: var(--primary);
}

.sidebar-element span {
    color: var(--sidebarText);
    font-family: Satoshi;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
.sidebar-element--selected span {
    color: var(--primary);
}
.sidebar-element--selected {
    background-color: var(--content);
    color: var(--primary);
    border-radius: 6px;
    border-left: 2px solid #38f2ae;
}

.sidebar-elements {
    width: 60px;
    transition: width 0.2s ease-in-out;
    position: relative;
    height: 100%;
    background-color: var(--dark-800);
    position: absolute;
    left: 0px;
    top: 63px;
    bottom: 0px;
    z-index: 1189;
}
.sidebar-elements:hover {
    width: 190px;
}
.sidebar-elements:hover .sidebar-element {
    width: 190px;
}
.sidebar-element__title {
    display: none;
    animation-name: example;
    animation-duration: 0.2s;
    text-wrap: nowrap;
    width: 0px;
}
.sidebar-elements:hover .sidebar-element__title {
    display: block;
}

@keyframes example {
    from {
        width: 0px;
        opacity: 0;
    }
    to {
        width: 190px;
        opacity: 1;
    }
}
