@layer tailwind-base, primereact,tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --Section-Hover: linear-gradient(0deg, #292b2d 20.79%, #1c5843 84.73%, #38f2ae 164.32%);
}

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Satoshi;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

* {
    -webkit-tap-highlight-color: transparent;
}
/* 
h2 {
    font-weight: 700;
    color: #b2b5c0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
} */

h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.24px;
}

h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.2px;
}

span,
p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.p-panel {
    /* background: var(--content); */
    background: var(--transparent);
}
.p-panel.gradient {
    background: var(--Section-Hover);
}
.p-panel.gradient .p-panel-header {
    background: transparent;
}

.p-dialog.preview-scene {
    background: var(--Section-Hover);
}

.p-panel.script-short-preview {
    background: white;
    color: #000;
}
.p-panel.script-short-preview .p-panel-header {
    border: 0px;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-35 {
    opacity: 0.35;
}
