.forgot-password {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 330px;
}
.forgot-password h1 {
    font-size: 35px;
    line-height: 52px;
}
.forgot-password * {
    width: 100%;
}
.forgot-password-platforms {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
